/* Color: #ff7800 */
.streaming-container {
    width: 40%;
    position: fixed;
    right: 0;
    float: right;
    box-shadow: inset 5px -5px 13px 1px rgba(0,0,0,0.55);
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    background-color: #171717;
    border-left: 1px solid black;
    display: block;
    transform: translateX(100%);
    justify-content: center;
    transition: all ease 0.3s;
    margin: 0;
}
.streaming-toggle {
    width: 45px;
    height: 45px;
    padding: 12px;
    background-color: rgba(0,0,0,0.57);
    display: inline-block;
    position: relative;
    top: 45px;
    left: -45px;
    z-index: 999;
    margin: 0;
    cursor: pointer;
    transition: ease 0.5s;
    transform: rotate(180deg);
}
.streaming-toggle:hover {
    background-color: #ff7800;
}
.audio-player-container {
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #333333;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    z-index: 999;
    padding: 10px;
    box-sizing: border-box;
}
.audio-controller {
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translate(-10%, -50%);
    height: 60%;
    width: 50%;
}
.album-cover {
    height: 150%;
    position: absolute;
    left: 0;
    top: -50%;
    z-index: -1;
}
.audio-controller img {
    height: 50%;
    transition: ease 0.3s;
    margin: 0 3px;
}
.audio-controller img:hover {
    transform: scale(1.16);
    cursor: pointer;
}
.audio-controller img:nth-of-type(2) {
    height: 60%;
}

/* Now Playing */

.now-playing-title {
    color: #cccccc;
    text-align: center;
    font-size: 12px;
    margin-top: -5px;
    background-color: rgba(0,0,0,0.85)
}
.now-playing-title p {
    display: inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
    z-index: 999;
}
#track-title {
    text-indent: 4px;
    display: inline-block;
    color: #ff7800;
}
.view-options {
    height: 45px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.view-options img {
    height: 100%;
    margin: 0;
    padding: 13px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.3s;
}
.view-options img:hover, .view-options img:nth-of-type(2) {
    background-color: #ff7800;
}

.view-options img:nth-of-type(1) {
    margin-left: 10px;
    margin-right: 5px;
}
.view-options img:nth-of-type(2) {
    margin-right: 10px;
}
.time {
    color: #ff7800;
    position: absolute;
    top: 8px;
    left: 50%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    transform: translateX(-50%);
}
.list-view h2.active  {
    background-color: #ff7800;
}


