.row {
    margin: 10px 0;
}

img {
    margin: 0 auto;
}

div {
    padding: 0;
    margin: 0;
}

.container-fluid {
    width: 100%;
    box-sizing: border-box;
    float: left;
    clear: both;
    top: 50%;
    transform: translateY(-65%);
    position: relative;
    background-color: #262626;
    border-top: 2px solid #ff7800;
    border-bottom: 2px solid #ff7800;
}

body {
    background: url(../img/blacktexture.jpg) no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.col-md-4 img {
    transition: ease 0.4s;
    cursor: pointer;
}

.col-md-4 img:hover {
    border: 1px solid #ff7800;
}

#ajax-toggle {
    position: fixed;
    background-color: black;
    right: 0;
    top: 0;
    width: 80px;
}

#ajax-toggle img {
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 0;
}

#ajax-toggle h1 {
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 12px 6px;
    margin: 0;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}

#ajax-toggle h1:hover {
    background-color: #ff7800;
}
