header {
    width: 100%;
    float: left;
    max-width: 700px;
}
header img {
    width: 100%;
    max-width: 550px;
    opacity: 0.8;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -999;
}
header h1 {
    color: white;
    padding: 20px 0 0 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    font-size: 60px;
}
header p {
    color: white;
    padding: 0 40px;
    font-style: italic;
    font-size: larger;
    margin: 0;
}
nav {
    margin: 10px 12px;
    float: right;
    background-color: #020202;
    display: flex;
    justify-content: center;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 10px;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-flex;
    align-self: center;
    height: 20px;
    padding: 7px;
    border-right: 2px solid #ff7800;
    list-style-type: none;
    list-style-position:inside;
}
nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    height: 30px;
    line-height: 20px;
    margin: 3px 0 10px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all ease 0.2s;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}
nav li a:hover {
    text-decoration: none;
    color: lightgoldenrodyellow;
    transform: translateY(-6px);
    background-color: #ff7800;
}
nav li:last-of-type {
    border-right: none;
}
.on {
    background-color: #ff7800;
    cursor: pointer;
    transform: translateY(-6px);
}