.page-left {
    width: 100%;
    overflow: hidden;
    float: left;
    transition: all ease 0.3s;
}
.content {
    padding: 0 15px;
}
.main-content-container {
    margin: 50px 0 0;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    float: left;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}
.article-body {
    padding: 20px 29px;
    position: relative;
}
.featured {
    width: 100%;
    background-color: black;
    max-height: 350px;
    overflow: hidden;
    padding: 0;
}
.button {
    transition: ease 0.3s;
    text-decoration: none;
    color: white;
    background-color: black;
    margin-top: 30px;
    padding: 4px 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    position: absolute;
    right: 10px;
}
.button:hover {
    text-decoration: none;
    color: white;
    background-color: #ff7800;
}
.featured img {
    position: relative;
    width: 100%;
}
.featured h1 {
    display: block;
    position: absolute;
    bottom: 0;
    padding: 60% 14px 14px;
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-size: 29px;
    text-align: center;
    background: url(../img/gradient-overlay.png) no-repeat;
    background-size: cover;
    width: 100%;
}
.gallery {
}
.list-view {
    height: 70%;
    top: 0;
    width: 90%;
    margin: 10px auto;
    display: none;
}
.list-view h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 20px;
    background-color: #212121;
    padding: 8px 15px;
    margin: 4px;
    cursor: pointer;
}
.list-view h2:hover {
    transform: translateY(-1px);
}

/* List-View */
@media screen and (max-width: 1025px) {
    nav {
        display: none;
    }
    .streaming-container {
        float: left;
        width: 100%;
        position: relative;
        background-color: #010101;
    }
    .page-left {
        width: 100%;
    }
    .main-content-container {
        display: none;
    }
    header {
        display: none;
    }
    .gallery {
        z-index: 1;
        max-height: 100vh;
        position: relative;
        border: none;
        overflow-y: scroll;
        float: none;
        display: block;
        top: 0;
        transform: translateY(0);
        background-color: #010101;
    }
    .streaming-title, .time, .view-options {
        z-index: 999;
    }
    .streaming-title {
        left: 0 !important;
    }
}