.selection-container {
    height: 50px;
    background-color: #121212;
    width: 100%;
    max-width: 450px;
    position: absolute;
    bottom: 30px;
    right: 0;
    overflow: hidden;
    box-shadow: -7px 7px 25px 1px rgba(0,0,0,0.87);
}
.selection-banner h1  {
    color: white;
    margin: 0;
    padding: 0 10px;
    line-height: 50px;
    box-sizing: border-box;
    text-indent: 30px;
    text-transform: uppercase;
    font-size: 28px;
    transition: ease 0.3s;
}
.streaming-title {
    padding: 10px 50px 10px 10px;
    display: block;
    position: absolute;
    top: 0;
    left: -45px;
    height: 45px;
    margin: 0;
    background-color: black;
}
.streaming-title img {
    max-width: 27px;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.streaming-title h1 {
    display: inline-block;
    color: white;
    text-indent: 10px;
    vertical-align: middle;
    font-size: 24px;
    margin: 0;
}

@media screen and (max-width: 1025px) {
    .selection-container {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}